.search {
    margin-top: 39px;
    margin-bottom: 29px;
    padding-left: 16px;
    padding-right: 16px;
  
}

.search-imginput {
    background: rgba(0, 0, 0, 0.05);;
    display: flex;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
 
   

}

.search-imginput img {
    width: 17px;
    margin-right: 1px;
    
}

.search-imginput__input {
    background: none;
    border: none;
   
}

.search-imginput__input::placeholder {
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4099999964237213px;
    text-align: left;

}